<% layout('layouts/main') -%>

<div class="form-container">
  <form action="/users$<%=routes.changePassword%>" , method="POST">
    <input
      type="password"
      ,
      name="oldPassword"
      ,
      placeholder="Current password"
    />
    <input type="password" , name="newPassword" , placeholder="New password" />
    <input
      type="password"
      ,
      name="newPassword1"
      ,
      placeholder="Verify password"
    />
    <input type="submit" , value="Change Password" />
  </form>
</div>
