<% layout('layouts/main') -%>

<div class="form-container">
  <form action="/words$<%=routes.editWord%>" , method="POST">
    <input type="text" , placeholder="Title" , name="title" />
    <textarea name="description" , placeholder="Description"></textarea>
    <input type="submit" , value="Update Word" />
    <a
      href="/words$<%=routes.deleteWord%>"
      class="form-container__link form-container__link--delete"
      >Delete Word</a
    >
  </form>
</div>
