<% layout('layouts/main') -%> <% stylesheet('/static/styles.css') -%>
<div class="form-container">
  <form action="<%=routes.editWord(word.id)%>" , method="POST">
    <input type="text" , placeholder="Title" , name="title" />
    <textarea name="description" , placeholder="Description"></textarea>
    <input type="submit" , value="Update Word" />
    <a
      href="<%=routes.deleteWord(word.id)%>"
      class="form-container__link form-container__link--delete"
      >Delete Word</a
    >
  </form>
</div>
