<% layout('layouts/main') -%> <% stylesheet('/static/styles.css') -%> block

<div class="form-container">
  <form action="<%routes.join%>" method="post">
    <input type="email" name="email" placeholder="Email" required="true" />
    <input
      type="password"
      name="password"
      placeholder="Password"
      required="true"
    />
    <input type="submit" value="Login" />
    <div class="social-buttons">
      <a
        href="#"
        class="social-buttons__button social-button social-button--facebook"
        aria-label="Facebook"
      >
        <span class="social-button__inner">
          <i class="fab fa-facebook-f"></i>
        </span>
      </a>
      <a
        href="<%=routes.gitHub%>"
        class="social-buttons__button social-button social-button--github"
        aria-label="GitHub"
      >
        <span class="social-button__inner">
          <i class="fab fa-github"></i>
        </span>
      </a>
    </div>
  </form>
</div>
