<% layout('layouts/main') -%>

<div class="form-container">
  <form action="/words$<%=routes.upload%>" , method="POST">
    <label for="text">Text</label>
    <input type="text" , id="text" , name="text" />
    <input type="text" , placeholder="Title" , name="title" />
    <textarea name="decription" , placeholder="Description"></textarea>
    <input type="submit" , value="Upload Text" />
  </form>
</div>
